<div class="container sticky top-0 z-sticky">
    <div class="flex flex-wrap -mx-3">
        <div class="w-full max-w-full px-3 flex-0">
            <!-- Navbar -->

        </div>
    </div>
</div>
<main class="mt-0 transition-all duration-200 ease-soft-in-out">
    <section>
        <div class="relative flex items-center p-0 overflow-hidden bg-center bg-cover min-h-75-screen">
            <div class="container z-10">
                <div class="flex flex-wrap mt-0 -mx-3">
                    <div
                        class="flex flex-col w-full max-w-full px-3 mx-auto md:flex-0 shrink-0 md:w-6/12 lg:w-5/12 xl:w-4/12">
                        <div
                            class="relative flex flex-col min-w-0 mt-32 break-words bg-transparent border-0 shadow-none rounded-2xl bg-clip-border">
                            <div class="p-6 pb-0 mb-0 bg-transparent border-b-0 rounded-t-2xl">
                                <h3
                                    class="relative z-10 font-bold text-transparent bg-gradient-to-tl from-blue-600 to-cyan-400 bg-clip-text">
                                    Welcome back</h3>
                                <p class="mb-0">Authenticate with your social networks</p>
                            </div>
                            <div class="p-6 pb-0 mb-0">
                                <button
                                    class="w-full group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                                    <div class="relative flex items-center space-x-4 justify-center">
                                        <img src="https://www.svgrepo.com/show/475656/google-color.svg"
                                            class="absolute left-0 w-5" alt="google logo">
                                        <span
                                            class="block w-max font-semibold tracking-wide text-gray-700 dark:text-white text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Continue
                                            with Google
                                        </span>
                                    </div>
                                </button>
                                <div class="h-2"></div>
                                <button
                                    class="mt-10 w-full  group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                                    <div class="relative flex items-center space-x-4 justify-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                            class="absolute left-0 w-5 text-gray-700" viewBox="0 0 16 16">
                                            <path
                                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z">
                                            </path>
                                        </svg>
                                        <span
                                            class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition dark:text-white duration-300 group-hover:text-blue-600 sm:text-base">Continue
                                            with Github
                                        </span>
                                    </div>
                                </button>
                                <div class="h-2"></div>
                                <button
                                    class="mt-10 w-full  group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                                    <div class="relative flex items-center space-x-4 justify-center">
                                        <svg class="absolute left-0 w-5 text-gray-700" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
                                            <g id="surface1">
                                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(65.098039%,80.784314%,22.352941%);fill-opacity:1;" d="M 16 8 C 16 12.417969 12.417969 16 8 16 C 3.582031 16 0 12.417969 0 8 C 0 3.582031 3.582031 0 8 0 C 12.417969 0 16 3.582031 16 8 Z M 16 8 "/>
                                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 5.394531 11.636719 L 4.429688 11.636719 L 4.429688 4.945312 L 5.394531 4.945312 Z M 5.394531 11.636719 "/>
                                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 6.804688 4.945312 L 9.40625 4.945312 C 11.882812 4.945312 12.96875 6.710938 12.96875 8.292969 C 12.96875 10.011719 11.625 11.644531 9.417969 11.644531 L 6.804688 11.644531 Z M 7.769531 10.773438 L 9.300781 10.773438 C 11.480469 10.773438 11.980469 9.117188 11.980469 8.292969 C 11.980469 6.949219 11.125 5.8125 9.25 5.8125 L 7.769531 5.8125 Z M 7.769531 10.773438 "/>
                                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 5.542969 3.550781 C 5.542969 3.894531 5.261719 4.179688 4.914062 4.179688 C 4.5625 4.179688 4.28125 3.894531 4.28125 3.550781 C 4.28125 3.199219 4.5625 2.917969 4.914062 2.917969 C 5.261719 2.917969 5.542969 3.207031 5.542969 3.550781 Z M 5.542969 3.550781 "/>
                                            </g>
                                            </svg>
                                        <span
                                            class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition dark:text-white duration-300 group-hover:text-blue-600 sm:text-base">Continue
                                            with ORCID
                                        </span>
                                    </div>
                                </button>
                            </div>

                        </div>
                        <div class="h-4"></div>
                        <div
                            class="p-6 px-1 pt-0 text-center bg-transparent border-t-0 border-t-solid rounded-b-2xl lg:px-2">
                            <p class="mx-auto mb-6 leading-normal text-sm">
                                Don't have an account?
                                <a routerLink="../sign-up"
                                    class="relative z-10 font-semibold text-transparent bg-gradient-to-tl from-blue-600 to-cyan-400 bg-clip-text">Sign
                                    up</a>
                            </p>
                        </div>
                    </div>
                    <div class="w-full max-w-full px-3 lg:flex-0 shrink-0 md:w-6/12">
                        <div
                            class="absolute top-0 hidden w-3/5 h-full -mr-32 overflow-hidden -skew-x-10 -right-40 rounded-bl-xl md:block">
                            <div class="absolute inset-x-0 top-0 z-0 h-full -ml-16 bg-cover skew-x-10"
                                style="background-image: url('../assets/img/curved-images/businessmen-businesswomen-meeting-brainstorming-ideas.jpg')">
                                <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-gray-900 to-slate-800 opacity-60"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="py-12">
    <div class="container">
        <div class="flex flex-wrap -mx-3  text-sm">
            <div class="flex-shrink-0 w-full max-w-full mx-auto mb-6 text-center lg:flex-0 lg:w-8/12">
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> A
                    SpaceProjects </a>
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> Team </a>
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> Services </a>
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> Blog </a>
            </div>
            <div class="flex-shrink-0 w-full max-w-full mx-auto mt-2 mb-6 text-center lg:flex-0 lg:w-8/12">
                <a href="javascript:;" target="_blank" class="mr-6 text-slate-400">
                    <span class="text-lg fab fa-dribbble"></span>
                </a>
                <a href="javascript:;" target="_blank" class="mr-6 text-slate-400">
                    <span class="text-lg fab fa-twitter"></span>
                </a>
                <a href="javascript:;" target="_blank" class="mr-6 text-slate-400">
                    <span class="text-lg fab fa-instagram"></span>
                </a>
                <a href="javascript:;" target="_blank" class="mr-6 text-slate-400">
                    <span class="text-lg fab fa-pinterest"></span>
                </a>
                <a href="javascript:;" target="_blank" class="mr-6 text-slate-400">
                    <span class="text-lg fab fa-github"></span>
                </a>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3">
            <div class="w-8/12 max-w-full text-sm px-3 mx-auto mt-1 text-center flex-0">
                <p class="mb-0 text-slate-400  text-sm">
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    by <strong>SpaceProjects</strong>.
                </p>
            </div>
        </div>
    </div>
</footer>