<div class="container sticky top-0 z-sticky">
    <div class="flex flex-wrap -mx-3">
        <div class="w-full max-w-full px-3 flex-0">
            <!-- Navbar -->

        </div>
    </div>
</div>

<main class="mt-0 transition-all duration-200 ease-soft-in-out">
    <section>
        <div class="relative flex items-center p-0 overflow-hidden bg-center bg-cover min-h-75-screen">
            <div class="container z-10">
                <div class="flex flex-wrap mt-0 -mx-3">
                    <div
                        class="flex flex-col w-full max-w-full px-3 mx-auto md:flex-0 shrink-0 md:w-6/12 lg:w-5/12 xl:w-4/12">
                        <div
                            class="relative flex flex-col min-w-0 mt-32 break-words bg-transparent border-0 shadow-none rounded-2xl bg-clip-border">
                            <div class="p-6 pb-0 mb-0 bg-transparent border-b-0 rounded-t-2xl">
                                <h3
                                    class="relative z-10 font-bold text-transparent bg-gradient-to-tl from-gray-900 to-slate-300 bg-clip-text">
                                    Welcome back</h3>
                                <p class="mb-0">Authenticate with your social networks</p>
                            </div>
                            <div class="absolute z-10 bg-white/50 w-full h-full flex items-center justify-center"
                                *ngIf="(logging | async)">
                                <div role="status">
                                    <svg aria-hidden="true"
                                        class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                            fill="currentColor" />
                                        <path
                                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                            fill="currentFill" />
                                    </svg>
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <div class="p-6 pb-0 mb-0 space-y-4">
                                <button routerLink="/user/edgardhsl"
                                    class="w-full group h-12 px-6 border border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                                    <div class="relative flex items-center space-x-4 justify-center">
                                        <img src="https://www.svgrepo.com/show/475656/google-color.svg"
                                            class="absolute left-0 w-5" alt="google logo">
                                        <span
                                            class="block w-max font-semibold tracking-wide text-gray-700 dark:text-white text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Continue
                                            with Google
                                        </span>
                                    </div>
                                </button>
                                <button routerLink="/user/edgardhsl"
                                    class="w-full  group h-12 px-6 border border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                                    <div class="relative flex items-center space-x-4 justify-center">

                                        <svg class="absolute left-0 w-5 text-gray-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24px"
                                            height="24px">
                                            <path fill="#0288D1"
                                                d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z" />
                                            <path fill="#FFF"
                                                d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z" />
                                        </svg>
                                        <span
                                            class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition dark:text-white duration-300 group-hover:text-blue-600 sm:text-base">Continue
                                            with LinkedIn
                                        </span>
                                    </div>
                                </button>
                                <button routerLink="/user/edgardhsl"
                                    class="w-full  group h-12 px-6 border border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                                    <div class="relative flex items-center space-x-4 justify-center">
                                        <svg class="absolute left-0 w-5 text-gray-700"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px"
                                            viewBox="0 0 16 16" version="1.1">
                                            <g id="surface1">
                                                <path
                                                    style=" stroke:none;fill-rule:nonzero;fill:rgb(65.098039%,80.784314%,22.352941%);fill-opacity:1;"
                                                    d="M 16 8 C 16 12.417969 12.417969 16 8 16 C 3.582031 16 0 12.417969 0 8 C 0 3.582031 3.582031 0 8 0 C 12.417969 0 16 3.582031 16 8 Z M 16 8 " />
                                                <path
                                                    style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
                                                    d="M 5.394531 11.636719 L 4.429688 11.636719 L 4.429688 4.945312 L 5.394531 4.945312 Z M 5.394531 11.636719 " />
                                                <path
                                                    style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
                                                    d="M 6.804688 4.945312 L 9.40625 4.945312 C 11.882812 4.945312 12.96875 6.710938 12.96875 8.292969 C 12.96875 10.011719 11.625 11.644531 9.417969 11.644531 L 6.804688 11.644531 Z M 7.769531 10.773438 L 9.300781 10.773438 C 11.480469 10.773438 11.980469 9.117188 11.980469 8.292969 C 11.980469 6.949219 11.125 5.8125 9.25 5.8125 L 7.769531 5.8125 Z M 7.769531 10.773438 " />
                                                <path
                                                    style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
                                                    d="M 5.542969 3.550781 C 5.542969 3.894531 5.261719 4.179688 4.914062 4.179688 C 4.5625 4.179688 4.28125 3.894531 4.28125 3.550781 C 4.28125 3.199219 4.5625 2.917969 4.914062 2.917969 C 5.261719 2.917969 5.542969 3.207031 5.542969 3.550781 Z M 5.542969 3.550781 " />
                                            </g>
                                        </svg>
                                        <span
                                            class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition dark:text-white duration-300 group-hover:text-blue-600 sm:text-base">Continue
                                            with ORCID
                                        </span>
                                    </div>
                                </button>
                            </div>
                            <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
                            <div class="flex-auto p-6 relative">
                                <form role="form text-left" [formGroup]="formGroup">
                                    <div class="mb-4">
                                        <input type="email" formControlName="email"
                                            class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow"
                                            placeholder="Email" aria-label="Email" aria-describedby="email-addon" />
                                    </div>
                                    <div class="mb-4">
                                        <input type="password" formControlName="password"
                                            class="text-sm focus:shadow-soft-primary-outline leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow"
                                            placeholder="Password" aria-label="Password"
                                            aria-describedby="password-addon" />
                                    </div>
                                    <div class="text-center">
                                        <button (click)="login()"
                                            class="inline-block w-full px-6 py-3 mt-6 mb-2 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer active:opacity-85 hover:scale-102 hover:shadow-soft-xs leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 bg-gradient-to-tl from-gray-900 to-slate-800 hover:border-slate-700 hover:bg-slate-700 hover:text-white">Sign
                                            in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="h-4"></div>
                        <div
                            class="p-6 px-1 pt-0 text-center bg-transparent border-t-0 border-t-solid rounded-b-2xl lg:px-2">
                            <p class="mx-auto mb-6 leading-normal text-sm">
                                Don't have an account?
                                <a routerLink="../sign-up"
                                    class="relative z-10 font-semibold text-transparent bg-gradient-to-tl from-gray-900 to-slate-300 bg-clip-text">Sign
                                    up</a>
                            </p>
                        </div>
                    </div>
                    <div class="w-full max-w-full px-3 lg:flex-0 shrink-0 md:w-6/12">
                        <div
                            class="absolute top-0 hidden w-3/5 h-full -mr-32 overflow-hidden -skew-x-10 -right-40 rounded-bl-xl md:block">
                            <div class="absolute inset-x-0 top-0 z-0 h-full -ml-16 bg-cover skew-x-10"
                                style="background-image: url('../assets/img/curved-images/businessmen-businesswomen-meeting-brainstorming-ideas.jpg')">
                                <div class="absolute h-full w-full z-10 top-0 opacity-50" id="particles-js">
                                    <canvas class="h-full w-full"></canvas>
                                </div>
                                <span
                                    class="absolute top-0  z-0 left-0 w-full h-full bg-center bg-cover bg-gradient-to-tl from-gray-900 to-slate-800 opacity-60"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="py-12">
    <div class="container">
        <div class="flex flex-wrap -mx-3  text-sm">
            <div class="flex-shrink-0 w-full max-w-full mx-auto mb-6 text-center lg:flex-0 lg:w-8/12">
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> A
                    Scinnect </a>
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> Team </a>
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> Services </a>
                <a href="javascript:;" target="_blank" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12"> Blog </a>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3">
            <div class="w-8/12 max-w-full text-sm px-3 mx-auto mt-1 text-center flex-0">
                <p class="mb-0 text-slate-400  text-sm">
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    by <strong>Scinnect</strong>.
                </p>
            </div>
        </div>
    </div>
</footer>